<!DOCTYPE html>
<html lang="zh" class="js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>流量消耗器 </title>
    <link rel="stylesheet" href="css/dashlite.css">
	<link rel="stylesheet" href="css/style.css?v=20220626">
	<link rel="shortcut icon" href="//bai1an.eu.org/images/head/head.svg">
	<link rel="manifest" href="manifest.json">
	<script type="text/javascript">
	if (navigator.serviceWorker != null) {
		navigator.serviceWorker.register('sw-pwa.js?20220628')
		.then(function(registration) {
			console.log('Registered events at scope: ', registration.scope);
		});
	}
	</script>
	<script src="//api.vv1234.cn/ip/api.php?action=getip&code=js&token=test&from=llxhq"></script>
	<script src="//v1.hitokoto.cn/?encode=js&select=%23hitokoto" defer></script>
	<script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
	<script>LA.init({id: "JjhvoI5bfYbANJBZ",ck: "JjhvoI5bfYbANJBZ",autoTrack:true,hashMode:true})</script>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4745983596040533"
	     crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114909353-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-114909353-1');
    </script>

</head>
<body class="nk-body npc-invest bg-lighter " style="cursor:pointer">
    <!-- wrap @s -->
    <div class="nk-wrap ">
        <!-- main header @s -->
<div class="nk-header nk-header-fluid nk-header-fixed is-light">
    <div class="container-xl">
        <div class="nk-header-wrap link-between">
            <div class="nk-menu-trigger mr-sm-2 d-lg-none">
                <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="headerNav"><em
                        class="icon ni ni-menu"></em></a>
            </div>
            <div class="nk-header-brand">
                <a href="#" class="logo-link text-base"><img src="//bai1an.eu.org/images/head/head.svg" class="hide-mb-sm">流量消耗器</a>
			</div>
            <!-- .nk-header-brand -->
            <div class="nk-header-tools nk-header-menu" data-content="headerNav">
                <div class="nk-header-mobile">
                    <div class="nk-header-brand">
                        <a href="/" class="logo-link text-base">
                            <span class="nio-version" style="font-size: 21px;position: inherit;"></span>
                        </a>
                    </div>
                    <div class="nk-menu-trigger mr-n2">
                        <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="headerNav"><em class="icon ni ni-arrow-left"></em></a>
                    </div>
                </div>
                <!-- Menu -->
                <ul class="nk-menu nk-menu-main">
                    <li class="nk-menu-item ">
                        <a href="#" class="nk-menu-link nk-ibx-action-item">
                            <em class="icon ni ni-home"></em>
                            <span class="nk-menu-text">首页</span>
                        </a>
                    </li>
                    <li class="nk-menu-item ">
                        <a href="http://v.bai1an.eu.org/" class="nk-menu-link nk-ibx-action-item">
                            <em class="icon ni ni-policy"></em>
                            <span class="nk-menu-text">影视解析</span>
                        </a>
                    </li>
					<li class="nk-menu-item ">
					    <a href="http://vv.bai1an.eu.org" class="nk-menu-link nk-ibx-action-item">
					        <em class="icon ni ni-dropbox"></em>
					        <span class="nk-menu-text">影视站</span>
					    </a>
					</li>
					<li class="nk-menu-item ">
					    <a href="#" class="nk-menu-link nk-ibx-action-item">
					        <em class="icon ni ni-heart"></em>
					        <span class="nk-menu-text">占位占位1</span>
					    </a>
					</li>
                    <li class="nk-menu-item ">
                        <a href="#" class="nk-menu-link nk-ibx-action-item">
                            <em class="icon ni ni-comments"></em>
                            <span class="nk-menu-text">占位2</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- .nk-header-menu -->
            <div class="no-gutters">
                <ul class="nk-quick-nav">
                    <li class="dropdown">
                        <a href="javascript:;" class="progress-rating dark-switch ">
                            <span class="nk-menu-icon">
                                <em class="icon ni ni-moon"></em>
                                <em class="icon ni ni-sun d-none"></em>
                            </span>
                        </a>
                    </li>
                   
                    <!-- .dropdown -->
                </ul>
                <!-- .nk-quick-nav -->
            </div>
            <!-- .nk-header-tools -->
        </div>
        <!-- .nk-header-wrap -->
    </div>
    <!-- .container-fliud -->
</div>
<!-- main header @e -->
        <!-- content @s -->
        <div class="nk-content nk-content-lg nk-content-fluid">
            
<style>
.stat {
    width: 100%;
    column-gap: 1rem;
    padding: 1rem 1.5rem;
}
.stat-title {
    white-space: nowrap;
    opacity: .6;
}
.stat-value {
    white-space: nowrap;
    grid-column-start: 1;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.5rem
}
</style>
<div class="container-xl" id="app">
<div class="col-sm-12 col-md-10 col-xl-8 center-block">
    <div class="card card-preview">
        <div class="card-inner mt-3">
            <div class="nya-title nk-ibx-action-item progress-rating">
                <span class="nk-menu-text font-weight-bold">流量消耗器</span>
            </div>
            <div class="form-group">
                <label class="form-label">下载链接</label>
                <div class="form-control-wrap">
		<select  type="text" v-model="set.input"  class="form-control">
			<option value="">👇👇 百度 👇👇</option>
			<option value="http://issuecdn.baidupcs.com/issue/netdisk/apk/BaiduNetdiskSetup_wap_share.apk">百度网盘1</option>
			<option value="https://wppkg.baidupcs.com/issue/netdisk/apk/BaiduNetdisk_10.1.02.apk">百度网盘2</option>
			<option value="https://issuepcdn.baidupcs.com/issue/netdisk/LinuxGuanjia/4.15.5/baidunetdisk-4.15.5.x86_64.rpm">百度网盘3</option>
			<option value="https://imeres.baidu.com/imeres/ime-res/guanwang/img/UOS-fcitx-baidupinyin-64.zip">百度输入法</option>
			<option value="https://edu-wenku.bdimg.com/v1/na/0807/PC%E5%AE%A2%E6%88%B7%E7%AB%AF%E7%89%88%E6%9C%AC%E5%8C%85/%E7%99%BE%E5%BA%A6%E6%96%87%E5%BA%93%20Setup%201.1.6.exe">百度文库</option>
			<option value="http://dx-baiducdncmn2.inter.iqiyi.com/cdn/qiyiapp/20220816/ec0d815ec196756630cea9717600379b/iqiyi_12894.apk">爱奇艺</option>
			<option value="">👇👇 阿里巴巴 👇👇 </option> 
			<option value="https://img.alicdn.com/imgextra/i1/O1CN01xA4P9S1JsW2WEg0e1_!!6000000001084-2-tps-2880-560.png">阿里图片CDN域名加速</option>
			<option value="https://gw.alipayobjects.com/os/volans-demo/f44c302e-b704-4a70-bcc6-0214e37ca256/MiniProgramStudio-1.17.4.exe">支付宝开放平台</option>
			<option value="https://gw.alicdn.com/tfscom/TB1fASCxhjaK1RjSZKzXXXVwXXa.jpg">阿里系Gw</option>
			<option value="https://t.alipayobjects.com/L1/71/100/and/alipay_wap_dc.apk">支付宝</option>
			<option value="">👇👇 腾讯 👇👇 </option> 
			<option value="https://game.gtimg.cn/images/nz/web202106/index/bc_part1.gif?0.3190485611376561">腾讯游戏1</option>
			<option value="https://game.gtimg.cn/images/yxzj/cp/a20221018znq_h5/pic1.png">腾讯游戏2</option>
			<option value="https://game.gtimg.cn/images/lol/act/img/skin/big1001.jpg">腾讯游戏3</option>
			<option value="https://wegame.gtimg.com/g.55555-r.c4663/wegame-home/sc02-03.514d7db8.png">Wegame静态加速</option>
			<option value="">👇👇 喜马拉雅 👇👇 </option> 
			<option value="https://aod.cos.tx.xmcdn.com/storages/1b54-audiofreehighqps/69/C3/GMCoOSQGyT0_ABAAAAGQmfgZ.apk">喜马拉雅(腾讯CDN)</option>
			<option value="http://download.ali.xmcdn.com/group31/M08/35/71/wKgJX1mC5FqQEonUACTxZ6jRYO8119.aac">喜马拉雅(阿里CDN)</option>
			<option value="">👇👇 网易 👇👇 </option> 
			<option value="https://d1.music.126.net/dmusic/NeteaseCloudMusic_Music_official_8.8.12.220812142633_32.apk">网易云音乐</option>
			<option value="https://x19.gdl.netease.com/MCLauncher_publish_1.8.0.35383.exe">网易(阿里CDN)</option>
			<option value="https://shaanxi01-yd-12041.cdn.163fen.com/s/allycp.gdl.netease.com/netease_baidu_sem_dev_1.5.64_com.netease_22rHT46.apk">网易(移动CDN)</option>
			<option value="https://hubei02-lt-12005.cdn.163fen.com/s/allycp.gdl.netease.com/g10_netease_baidu_sem_dev_4.3.3_com.netease.stzb.netease_22NU8jm.apk">网易(联通CDN)</option>
			<option value="">👇👇 哔哩哔哩 👇👇 </option>
			<option value="https://activity.hdslb.com/blackboard/static/20210604/4d40bc4f98f94fbc71c235832ce3efd4/hJEhL6jGOY.zip">上海灵羊1</option>
			<option value="https://upos-sz-staticks3.bilivideo.com/ssaxcode/m201120a222dw4bejcrhrq3gt815s4zd-1-SiteTool_1080.mp4">哔哩video</option>
			<option value="https://s1.hdslb.com/bfs/game-static/web/caster/static/script/vue/da3f37d7fd8339357ed671a94941757e/st.zip">哔哩CDN域名-阿里CDN</option>
			<option value="https://s3.hdslb.com/bfs/game-static/web/caster/static/script/vue/da3f37d7fd8339357ed671a94941757e/st.zip">哔哩CDN域名-阿里CDN2</option>
			<option value="">👇👇 中国移动 👇👇 </option>	
			<option value="https://d.musicapp.migu.cn/upload/fbpt_rsync_apps/local/signed/MobileMusic7140/MobileMusic7140_0140068.apk">咪咕音乐</option>
			<option value="https://pc-dl.migufun.com:8443/channelpackage/mgame-1z5veP.exe">咪咕快游</option>
			<option value="https://img1.shop.10086.cn/goods/tcqtjwurkdsfcxgr_940x7200">移动</option>
			<option value="https://img.cmvideo.cn/publish/noms/2022/10/14/1O3VIGPVP6HTS.jpg">咪咕</option>
			<option value="">👇👇 中国联通 👇👇</option>	
			<option value="https://m1.ad.10010.com/small_video/uploadImg/1669798519261.png"> 联通官网静态资源1</option>
			<option value="https://gec.10010.com/multi/unified-storage/video/202102/210208115fe139453000.mp4">联通官网静态资源2——政企</option>
			<option value="https://img.client.10010.com/pczhibo/cyberplayer-3.5.4/videojs/video.min.js">联通官网CDN业务域名</option>
			<option value="">👇👇 中国电信 👇👇 </option>	
			<option value="https://vod-origin-rjzy.gdoss.xstore.ctyun.cn/5ca444c333bf4727babc7d154aabe559.mp4">天翼云</option>
			<option value="">👇👇 蓝绿厂 👇👇 </option> 
			<option value="https://wwwstatic.vivo.com.cn/vivoportal/files/resource/funtouch/1651200648928/images/os2-jude-video.mp4">VIVO官网静态资源</option> 
			<option value="https://imgwsdl.vivo.com.cn/appstore/developer/soft/20210125/202101251051528awqa.apk">VIVO应用商店</option> 
			<option value="https://dsfs.oppo.com/oppo/shop-pc-v2/main/js/9fb472f.js">OPPP商城静态资源</option>
			<option value="">👇👇 字节跳动 👇👇 </option> 
			<option value="https://lf9-cdn-tos.bytecdntp.com/cdn/yuntu-index/1.0.4/case/maiteng/detailbg.png">字节跳动前端公共库</option>
			<option value="https://lf9-apk.ugapk.cn/package/apk/video_article/1008_704/video_article_xigua_m_lv_1222_and_v1008_704_20f7_1666963744.apk">西瓜视频</option>
			<option value="">👇👇 新浪 👇👇 </option>	
			<option value="http://i.apps.sina.cn/tqt/zip/com.sina.tianqitong_6.1892_2019.07.29.17.54.18.apk">新浪</option>
			<option value="http://n1cdn.miaopai.com/stream/SltFiRLKNPD7KTf57MOA4Fa52zotEjzDM6Tr2Q___16_0_1513958927.mp4?ssig=eb230759364278f6fd4e36e958cf352c&time_stamp=1667219599212&f=/SltFiRLKNPD7KTf57MOA4Fa52zotEjzDM6Tr2Q__.mp4">秒拍</option>
			<option value="">👇👇 拼多多 👇👇</option>
			<option value="https://static.pddpic.com/assets/js/react_pdd_50c6d8bdb252d256ae20_1026.js">拼多多H5官网静态资源-js小文件</option> 
			<option value="https://funimg.pddpic.com/c3affbeb-9b31-4546-b2df-95b62de81639.png.slim.png">拼多多H5官网静态资源-图像小文件</option> 
			<option value="https://t00img.yangkeduo.com/chat/images/2022-12-12/79e0a4684de85c7b59f797819260be98.jpeg">拼多多IMG/CDN域名</option> 
			<option value="">👇👇 国内其他大厂 👇👇 </option>	
			<option value="https://rls.tapimg.com/TapTap/2022_10/2e86ab6322c811bf18ba5f9b17fefba1.apk">TapTap</option>
			<option value="https://img10.360buyimg.com/live/jfs/t1/128947/12/26918/1361527/6260e71bE0ee85af5/ecaa17ea8dd3dddb.jpg">京东</option>
			<option value="https://dc.xiaohongshu.com/file/pkgs/base/xiaohongshu.apk">小红书</option>
			<option value="https://cnbj0.fds.api.xiaomi.com/b2c-data-mishop/9b9d95e1ece27d5ec75205e5fe719ba5.apk">小米应用商店</option>
			<option value="https://s2-10623.kwimgs.com/kos/nlav10623/vision_images/topBannerx1.png">快手</option>
			<option value="https://cdn.aixifan.com/downloads/AcFun-acfunh5-release-6.62.0.1238_x64_60b608.apk">AcFun</option>
			<option value="https://kodo-toolbox.qiniu.com/kodo-browser-Linux-x64-v1.0.17.zip">七牛云</option> 
			<option value="">↓↓  海外优选节点 ↓↓</option>	
			<option value="https://cachefly.cachefly.net/100mb.test" >Cachefly 100MB</option>
			<option value="https://speed.cloudflare.com/__down?bytes=25000000">cloudflare</option>
			<option value="https://sgp-ping.vultr.com/vultr.com.1000MB.bin">Vultr 1G(新加坡)</option>
			<option value="https://nj-us-ping.vultr.com/vultr.com.1000MB.bin">Vultr 1G(纽约)</option>
			<option value="https://speedtest.tokyo2.linode.com/100MB-tokyo2.bin">Linode 100MB(日本省东京市)</option>
		    <input style="" type="text" v-model="set.input" placeholder="链接" class="form-control" autocomplete="off">

				</div>
            </div>
            <div class="form-group">
                <label class="form-label">线程</label>
                <div class="form-control-wrap number-spinner-wrap">
                    <button class="btn btn-icon btn-outline-primary number-spinner-btn number-minus" @click="if(set.thread>1)set.thread--"><em class="icon ni ni-minus"></em></button>
                    <input type="number" class="form-control number-spinner" min="1" max="32" v-model="set.thread">
                    <button class="btn btn-icon btn-outline-primary number-spinner-btn number-plus"><em class="icon ni ni-plus" @click="if(set.thread<32)set.thread++"></em></button>
                </div>
            </div>
            <div class="form-group">
                <div class="preview-block">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" v-model="set.infinite" id="customSwitch2">
                        <label class="custom-control-label" for="customSwitch2">无限循环</label>
                    </div>
                </div>
            </div>
            <button class="btn btn-dim btn-outline-secondary btn-block card-link" @click="run">
                {{set.status?'停止':'开始'}}
            </button>
			
            <div class="row mt-4">
                <div class="col-sm-12 col-md-4 border stat">
                    <div class="text-dark"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-15 w-15 float-right pt-3"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z"></path></svg></div>
                    <div class="stat-title">已消失的流量</div>
                    <div class="stat-value">{{changeFilesize(waste)}}</div>
                </div>
                <div class="col-sm-12 col-md-4 border stat">
                    <div class="text-info"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-15 w-15 float-right pt-3"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path></svg></div>
                    <div class="stat-title">每秒实时流量</div>
                    <div class="stat-value text-info">{{speed}}</div>
                </div>
                <div class="col-sm-12 col-md-4 border stat">
                    <div class="text-dark"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-15 w-15 float-right pt-3"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg></div>
                    <div class="stat-title">运行时长</div>
                    <div class="stat-value">{{secToTime(spend)}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-preview">
        <div class="card-inner">
            <h6><em class="icon ni ni-info"></em> 工具说明</h6>
            <div class="accordion-inner">
				
            <p>您的访问信息如下：</p>
			<li class="nk-menu-item ">
		    <p class="text-danger"><script>ipinfo()</script></p> 
		   <p>
		   </li>
		   <img src="https://ip.vv1234.cn/ipx/" onError="this.src='https://tool.lu/netcard/'">
		   </p>
			 <hr>					
	 	 <p>为降低终端设备CPU占用,暂时关闭网页特效,默认线程调整为1</p>	 
		 <hr>	
	 <script id="LA-DATA-WIDGET" crossorigin="anonymous" charset="UTF-8" src="https://v6-widget.51.la/v6/JjhvoI5bfYbANJBZ/quote.js?theme=0&f=12&display=1,1,1,1,0,1,1,1"></script>
	 	</div>
        </div>
    </div>
</div>
</div>


    </div>
    <!-- wrap @e -->
<script src="//cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
<script src="//cdn.staticfile.org/bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
<script src="//cdn.staticfile.org/layer/3.5.1/layer.js"></script>
<script src="js/nioapp.min.js"></script>
<script src="js/script.js"></script>
<script src="js/common.js"></script>


<script src="//cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
<script src="//cdn.staticfile.org/axios/0.26.0/axios.min.js"></script>
<script>
var errors = null
new Vue({
    el: '#app',
    data: {
        set: {
            input: '',
            output: '',
            infinite: true,
            status: false,
            thread: 1,
        },
        tasks: [],
        speed: '0.00B/s',
        spend: 0,
        waste: 0,
        timer: null,
        cancelSource: axios.CancelToken.source()
    },
    watch: {
        async 'set.status'(newVal) {
            if (newVal) {
                this.cancelSource = axios.CancelToken.source()
                this.timer = setInterval(() => {
                    this.speed = this.changeDownloadSpeed(this.tasks.reduce(function (prev, curr) {
                        return prev + curr;
                    }, 0));
                    this.spend++
                }, 1000)
                do {
                    await new Promise(resolve => {
                        let task = []
                        for (let i = 0; i < this.set.thread; i++) {
                            task.push(this.download(Math.random().toString(36).substr(2, 10)))
                        }
                        Promise.all(task).finally(resolve)
                    })
                } while (this.set.status && this.set.infinite)
            } else {
                clearInterval(this.timer)
                this.cancelSource.cancel()
            }
        }
    },
    methods: {
        run() {
            this.set.status = !this.set.status
        },
        download(id) {
            let loaded = 0
            let speed = 0
            let timestamp = new Date().getTime()
            let that = this
            const index = this.tasks.push(speed) - 1
            return axios.request({
                url: this.set.input,
                params: {
                    [id]: id,
                },
                cancelToken: this.cancelSource.token,
                onDownloadProgress: function (progressEvent) {
                    // 处理原生进度事件
                    const now = new Date().getTime();
                    speed = (progressEvent.loaded - loaded) / (now - timestamp) * 1000
                    that.tasks[index] = speed
                    that.waste += progressEvent.loaded - loaded
                    loaded = progressEvent.loaded
                    timestamp = now
                },
            }).catch(e => {
                if (!axios.isCancel(e)) {
                    layer.msg(e.message, {icon:2})
                  //  this.set.status = false
				  this.set.status = true
                }
            }).finally(() => {
                delete that.tasks[index]
            })
        },
        secToTime(s) {
            let t = '';
            if (s > -1) {
                let hour = Math.floor(s / 3600)
                let min = Math.floor(s / 60) % 60
                let sec = s % 60
                if (hour > 0) {
                    if (hour < 10) {
                        t += '0'
                    }
                    t = hour + "h"
                }
                if (hour > 0 || min > 0) {
                    if (min < 10) {
                        t += '0'
                    }
                    t += min + "m"
                }
                if (sec < 10) {
                    t += '0'
                }
                t += sec + 's'
            }
            return t
        },
        changeFilesize: (filesize) => {
            filesize = parseInt(filesize);
            let size = "";
            if (filesize === 0) {
                size = "0.00 B"
            } else if (filesize < 1024) { //小于1KB，则转化成B
                size = filesize.toFixed(2) + " B"
            } else if (filesize < 1024 * 1024) { //小于1MB，则转化成KB
                size = (filesize / 1024).toFixed(2) + " KB"
            } else if (filesize < 1024 * 1024 * 1024) { //小于1GB，则转化成MB
                size = (filesize / (1024 * 1024)).toFixed(2) + " MB"
            } else { //其他转化成GB
                size = (filesize / (1024 * 1024 * 1024)).toFixed(2) + " GB"
            }
            return size;
        },
        changeDownloadSpeed(filesize) {
            filesize = this.changeFilesize(filesize);
            return filesize.replace(/\s([K|M|G|B]*)B{0,1}/, '$1/s')
        }
    },
})
</script>

<script>document.onkeydown = function(){
  if(window.event && window.event.keyCode == 123) {
    alert("F12被禁用");
    event.keyCode=0;
    event.returnValue=false;
  }
  if(window.event && window.event.keyCode == 13) {
    window.event.keyCode = 505;
  }
  if(window.event && window.event.keyCode == 8) {
    alert(str+"\n请使用Del键进行字符的删除操作！");
    window.event.returnValue=false;
  }
}
</script>  
 
  
<script>document.oncontextmenu = function (event){
if(window.event){
event = window.event;
}try{
var the = event.srcElement;
if (!((the.tagName == "INPUT" && the.type.toLowerCase() == "text") || the.tagName == "TEXTAREA")){
return false;
}
return true;
}catch (e){
return false;
}
}
</script>  

<!-- 
//临时关闭网页特效，以降低客户机负载
<script src="//wx1.vv1234.cn/o_1bdgnn8ljls4ihk1aq6cjq1fooa.js"></script>
<script src="//api.vv1234.cn/js/fuqiang.js?20220629"></script>
<script src="//api.vv1234.cn/js/luoye.js?20220629"></script>
<script type="text/javascript">jQuery(document).ready(function($){
$('body').wpSuperSnow({
//flakes: ['https://aliyun.ccswust.org/1/img/007.png ' ,'https://aliyun.ccswust.org/1/img/006.png','https://aliyun.ccswust.org/1/img/004.png','https://aliyun.ccswust.org/1/img/002.png','https://aliyun.ccswust.org/1/img/001.png','https://aliyun.ccswust.org/1/img/003.png','https://aliyun.ccswust.org/1/img/002.png','https://aliyun.ccswust.org/1/img/001.png'],
flakes: ['https://pic.imgdb.cn/item/62bc50c61d64b07066b1403e.png' ,'https://pic.imgdb.cn/item/62bc50ed1d64b07066b18886.png','https://pic.imgdb.cn/item/62bc51101d64b07066b1bf52.png','https://pic.imgdb.cn/item/62bc51501d64b07066b23b04.png','https://pic.imgdb.cn/item/62bc518f1d64b07066b2ac07.png','https://pic.imgdb.cn/item/62bc51e51d64b07066b33ba1.png','https://pic.imgdb.cn/item/62bc51fb1d64b07066b36480.png'],
totalFlakes: '290',
zIndex: '999999',
maxSize: '30',
maxDuration: '50',
useFlakeTrans: false
});
});</script>
-->

<script></script>  
<script></script>  


</body>
</html>
